  
  body {
      font-family:monaco,consolas,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

nav,
  #menu_checkbox {
      display: none;
}

#menu_checkbox:checked ~ nav {
    display: block;
    position: absolute;
    top: 80px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
    margin: auto;
    display: grid;
}
.xlarge_header {
    font-size: 80px;
    color: #fff;
}

.hamburger_icon{
    position: absolute;
    font-size: 30px;
    padding: 10px;
}

header {
    background-color: #211426;
    color: #fff;
    padding: 30px;
    align-items: center;
    position: sticky;
    top: 0;
 }

.logo{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 150px;
 }

nav {
     position: relative;
     background: #211426;
     color:#fff;
     top: 0px;
     left: 0px;
     text-align: center;
 }

nav a {
     display: block;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
 }

 nav a:hover{
     text-decoration: underline;
 }

.cta_home{
    color: #fff;
    border: 4px solid #fff;
    background-color: #211426;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration:none;
    font-size: 35px;
}

.cta_home:hover{
    background-color:#fff;
    color:#211426;
}

.games {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: auto;
    gap: 60px;
    padding-top: 50px;
}

footer{
    margin: 0px;
    padding: 20px;
    color:#fff;
    background: #211426;
    text-align: center;
}

@media (min-width: 700px){
    nav { 
        display: block;
        position: relative;
        text-align: center;
        }
    
      .hamburger_icon {
        display: none;
        }

    nav a {
        display: inline-block;
        }

  }
/* Home page */


.welcome {
    background-image: url("../images/background-image.jpg");
    width: 100%;
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:#fff;
    background-position: center;
    padding-top: 10px;
}

.sign_up_cta {
    position: absolute;
    display: block;
    right: 40px;
    top:40px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
    background-color: #fff;
    color: #211426;
    text-decoration: none;
}


/* Contact us */

input,
textarea {
    border: 3px solid #211426;
    border-radius: 1px;
    margin: 10px 10px 10px 0px;
    min-width: 300px;
}

textarea {
    min-height: 200px;
}

.images{
    height: 30px;
}

.contact_info {
    display: block;
    text-align: center;
    padding: 20px;
}

.cta-standard {
    color: #fff; 
    background-color: #211426;
    border: 3px solid #211426;
    border-radius: 30px;
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 25px auto;
    max-width: 200px;
    text-decoration: none;
    padding: 5px;
}

.cta-standard:hover {
    color: #211426; 
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#211426
}

.form > * {
    flex: 1;
    padding: 10px; 
}

.contact_content {
    padding: 20px 0px;
}
.form-error{
    color: red;
    display: none;
}

.contact_page {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.information > * {
    flex: 1; 
}

.contact_page > * {
    flex: 1; 
}

@media (min-width: 700px) {
    .contact_page {
        flex-direction: row;
        margin: auto; 
        gap: 30px; 
        max-width: 1000px;
    }
}


/* Buy games */

.games_images {
    width: 500px;
}
.list {
    border: 3px solid #000000;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    
}
.products {
    text-align: center;
    border: 2px solid #211426;
    padding: 8px 8px;
    display: block;
    margin: 10px auto;
    display: grid;

}
.game_spesific {
    display: grid;
    margin: auto;
    max-width: 1000px;
}
.product_list 
    .product_for_sale {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 1000px;
        margin: auto;
        padding-bottom: 50px;
  }

@media (min-width: 700px) {
    .product_list {
        grid-template-columns: 1fr 1fr 1fr;   
    }
}

@media (min-width: 700px) {
    .product_for_sale{
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
    }
}

/* My page */ 

.account {
        display: flex;
        text-align: center;
        flex-direction:column;
        align-items: center;
        color:#000000;
}

.person {
    height: 150px;
    padding:20px;
}


.personal {
    margin: 50px auto;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.recent_activity {
    background-color: #211426;
    color: #fff;
    padding: 20px;
    
}

.recent_activity_list {
    max-width: 700px;
    margin: 50px auto;
}


/* Game page */ 

.product_image {
    height: 250px;
    margin: auto;
    padding: 10px;
    padding-bottom: 40px;
    display: block;
}
.product_pages {
    border: 3px solid#211426;
    text-align: center;
    margin: 50px auto;
    max-width: 500px;
    display: block;
}        

/* Checkout */

.example_img {
    width: 250px;
    margin: auto;
}

.order_example {
    border: 3px solid #211426;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 15px auto;
    padding: 20px;
}
.information{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}
.information > * {
    flex:1;
}
@media (min-width: 700px) {
.information{
        flex-direction: row;
        margin: auto;
        gap: 30px;
        max-width: 1000px;
}
}

/* Checkout success */

.order_complete {
    text-align: center;
    border: 2px solid #211426;
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
}

/* Create your account */ 

.make_account {
    max-width: 400px;
    margin: auto;
    display: flex;
    padding: 40px;
}