  
  nav,
  #menu_checkbox {
      display: none;
}

#menu_checkbox:checked ~ nav {
    display: block;
    position: absolute;
    top: 60px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding: 50px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
}

.hamburger_icon{
    position: absolute;
    font-size: 30px;
    padding: 20px;
}

header {
    background-color: #211426;
    color: #fff;
    padding: 30px;
    align-items: center;
    position: sticky;
    top: 0;
 }

.logo{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 150px;
 }

nav {
     position: relative;
     background: #211426;
     color:#fff;
     top: 0px;
     left: 0px;
     text-align: center;
 }

nav a {
     display: block;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
 }

 nav a:hover{
     text-decoration: underline;
 }

.cta_home{
    color: #fff;
    border: 4px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration:none;
    font-size: 25px;
}

.cta_home:hover{
    background-color:#fff;
    color:#211426;
}

.games {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: auto;
    gap: 60px;
    padding-top: 50px;
}

footer{
    margin: 0px;
    padding: 20px;
    color:#fff;
    background: #211426;
    text-align: center;
}

@media (min-width: 700px){
    nav { 
        display: block;
        position: relative;
        text-align: center;
        }
    
      .hamburger_icon {
        display: none;
        }

    nav a {
        display: inline-block;
        }

  }
/* Home page */


.welcome {
    background-image: url("../images/background-image.jpg");
    width: 100%;
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:#fff;
    background-position: center;
    padding-top: 10px;
}


/* Contact us */

input,
textarea {
    border: 3px solid #211426;
    border-radius: 1px;
    margin: 10px 10px 10px 0px;
    min-width: 300px;
}

textarea {
    min-height: 200px;
}

.images{
    height: 30px;
}

.contact_info {
    display: block;
    text-align: center;
    padding: 20px;
}

.cta-standard {
    color: #fff; 
    background-color: #211426;
    border: 4px solid #211426;
    border-radius: 30px;
    display: block;
    font-size: 25px;
    text-align: center;
    margin: auto;
    width: 200px;
}

.cta-standard:hover {
    color: #211426; 
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#211426
}

.form > * {
    flex: 1;
    padding: 10px; 
}

.contact_content {
    padding: 20px 0px;
}

.contact_page {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact_page > * {
    flex: 1; 
}

@media (min-width: 700px) {
    .contact_page {
        flex-direction: row;
        margin: auto; 
        gap: 30px; 
        max-width: 1000px;
    }
}

/* Buy games */

.games_images {
    width: 100px;
    height: 150px;
}

.products {
    text-align: center;
    border: 3px solid #211426;
    padding: 8px 8px;
    display: block;
    margin: 10px auto;
}
.product_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
  }

@media (min-width: 700px) {
    .product_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* My account */ 

.account {
        display: flex;
        text-align: center;
        flex-direction:column;
        align-items: center;
        color:#000000;
}


/* Game page */ 

.product_image {
    width: 150px;
    height: 200px;
    margin: auto;
    border: 3px solid #211426;
    padding: 8px 8px;
    display: block;
}
.product_pages {
    border: 3px solid#211426;
    padding: 8px 8px 8px 8px;

}        