body{
    font-family: rockwell,
}
   
#menu_checkbox:checked ~ nav {
    display: block;
    position: absolute;
}

  nav,
  #menu_checkbox {
      display: none;
  }

  h1 {
      margin: 0;
      font-size: 40px;
      text-transform: uppercase;
      padding-top: 50px;
  }

.hamburger_icon{
    display: flex;
    font-size: 30px;
    padding: 20px;
}

.cart_icon {
    display: block;
    text-align: right;
    margin-right: 20px;
    font-size: 25px;
}

  header {
    background-color: #211426;
    color: #fff;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
 }
 .logo{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 150px;
 }

 
 nav {
     position: relative;
     background: #211426;
     color:#fff;
     top: 0px;
     left: 0px;
     text-align: center;
 }

 nav a {
     display: block;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
 }
 nav a:hover{
     text-decoration: underline;
 }

  @media (min-width: 700px){
    nav { 
        display: block;
        position: static;
        }
    
      .hamburger_icon {
        display: none;
        }

    nav a {
        display: inline-block;
        }

  }


  .welcome {
      background-image: url("../images/background-image.jpg");
      width: 100%;
      min-height: 700px;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      color:#fff;
      background-position: center;
      padding-top: 10px;
}

.cta_all{
    padding: 40px;
    list-style: none;
    font-size: 25px;
}
.cta_sell{
    color: #fff;
    border: 4px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
}
.cta_sell:hover{
    background-color:#fff;
    color:#211426;
}

.cta_buy{
    color: #fff;
    border: 4px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
}
.cta_buy:hover{
    background-color:#fff;
    color:#211426;
}
.cta_trade{
    color: #fff;
    border: 4px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    }
.cta_trade:hover{
        background-color:#fff;
        color:#211426;
    }

footer{
    margin: 0px;
    padding: 20px;
    color:#fff;
    background: #211426;
    text-align: center;
}